@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
  }
  body {
    background-color: #0a0908;
    color: #dcd6c9;
    -webkit-font-smoothing: antialiased;
  }
  ::selection {
    background-color: #b86d07;
    color: #fef8e7;
  }
}

@layer utilities {
  .tabular { font-variant-numeric: tabular-nums; }
}
